[theme=stone_tablet] .statistic .message .title {
    background-image: url(res/top.png);
    height: 26px;
    font-size: 0;
    line-height: 0;
    padding: 0;
}

[theme=stone_tablet] .statistic .message:after {
	height: calc(100% - 25px - 22px);
	top: 25px;
}

[theme=stone_tablet] .statistic .message .text {
    padding: 6px 18px 0 !important;
    margin-bottom: -13px;
}

[theme=stone_tablet] .messages .message:after {
	height: calc(100% - 61px - 22px);
	top: 61px;
}

[theme=stone_tablet] .messages .message.info .title {
	background-image: url(res/top_info.png) !important;
	height: 48px;
    text-align: center;
    padding: 0 68px 0 59px !important;
}

[theme=stone_tablet] .messages .message.info:after {
	height: calc(100% - 47px - 22px);
	top: 47px;
}

[theme=stone_tablet] .messages .message.info .text {
	padding-top: 2px;
}