[theme=starlight] #contents .header {
    background-image: url(res/logo.png);
    height: 27px;
    width: 184px;
    margin: 5px auto 0;
}

[theme=starlight] .message {
    background-image: url(res/background.png);
    border-radius: 10px;
    box-shadow: 0 0 0 1px #2e2c2c, 0 0 0 1px #373535, 0 0 6px 1px #780806, inset 0 0 0 1px rgba(41, 15, 0, 0.53), inset 0 1px 0 0 rgb(41, 15, 0);
    border: 1px solid rgba(25, 4, 0, 0.8);
	overflow: visible;
	margin: 30px 0 0;
}

[theme=starlight] .message:after {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    top: -1px;
    right: -1px;
    border-radius: 0 10px 0 0;
    box-shadow: 1px -1px 0px 0px #ec431a, 2px -2px 2px 0px rgba(240, 92, 35, 0.25), inset -1px 1px 2px 0px rgba(240, 92, 35, 0.25);
}

[theme=starlight] .message .bottom {

}

[theme=starlight] .message .bottom:after {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    bottom: -1px;
    right: -1px;
    border-radius: 0 0 10px 0;
    box-shadow: 1px 1px 0px 0px #ec431a, 2px 2px 2px 0px rgba(240, 92, 35, 0.25), inset -1px -1px 2px 0px rgba(240, 92, 35, 0.25);
}

[theme=starlight] .message .bottom:before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    bottom: -1px;
    left: -1px;
    border-radius: 0 0 0 10px;
    box-shadow: -1px 1px 0px 0px #ec431a, -2px 2px 2px 0px rgba(240, 92, 35, 0.25), inset 1px -1px 2px 0px rgba(240, 92, 35, 0.25);
}

/*
[theme=starlight] .message .title,
[theme=starlight] .message .text {
	background: rgba(20, 26, 37, 0.4);
}*/

[theme=starlight] #contents {
    padding-left: 18px;
}

[theme=starlight] .messages .message.info .title {
    border-radius: 8px;
    box-shadow: 0 0 0 1px #2e2c2c, 0 0 0 1px #373535, 0 0 6px 1px #780806, inset 0 0 0 1px rgba(41, 15, 0, 0.53), inset 0 1px 0 0 rgb(41, 15, 0), inset 0 0 17px 0 rgba(0, 0, 0, 0.31);
    border: 1px solid rgba(25, 4, 0, 0.8);
    width: auto;
    height: 22px;
    position: absolute;
    top: -12px;
    left: 28px;
    z-index: 1;
    background: #1a1816;
    padding: 0 6px !important;
    overflow: visible;
    line-height: 18px;
}

[theme=starlight] .messages .message.info .title:after {
    background-image: url(res/t_left.png), url(res/t_right.png);
    background-repeat: no-repeat;
    background-position: center left, center right;
    width: 100%;
    padding: 0 12px;
    left: -12px;
    top: -12px;
}

[theme=starlight] .messages .message.info .title:before {
    position: absolute;
    height: 13px;
    width: 13px;
    top: 10px;
    left: -30px;
    border-radius: 10px 0 0 0;
    box-shadow: -1px -1px 0px 0px #ec431a, -2px -2px 2px 0px rgba(240, 92, 35, 0.25), inset 1px 1px 2px 0px rgba(240, 92, 35, 0.25);
    border: 0;
    background: transparent;
}

/*
[theme=starlight] .messages .message.info .title:before,
[theme=starlight] .messages .message.info .title:after {
    box-shadow: none;
    border-radius: 0;
    background-repeat: no-repeat;
    height: 12px;
    width: 14px;
    border: 0;
    top: 4px;
    background-color: transparent;
}

[theme=starlight] .messages .message.info .title:after {
    background-image: url(t_right.png);
    right: -12px;
    left: initial;
}

[theme=starlight] .messages .message.info .title:before {
    background-image: url(t_left.png);
    left: -12px;
}
*/
[theme=starlight] .messages .message .title {
    font-size: 13px;
    font-weight: 500;
    z-index: 8;
    position: absolute;
    top: -21px;
    height: 44px;
    left: -21px;
    padding: 0;
    padding-left: 70px;
    padding-right: 20px;
    line-height: 38px;
    color: #f36f48;
	max-width: 272px;
}

[theme=starlight] .messages .message .title .channel {
    position: absolute;
    top: 12px;
    left: 12px;
    background-repeat: no-repeat;
    background-size: initial;
    -webkit-background-size: initial;
    background-position: top left;
    z-index: 2;
    width: 100%;
}

[theme=starlight] .messages .message .title .channel:after,
[theme=starlight] .messages .message .title .channel:before {
    content: '';
    height: 12px;
    width: 14px;
    position: absolute;
    top: 2px;
}

[theme=starlight] .messages .message .title .channel:after {
	background-image: url(res/t_right.png);
	right: 14px;
}

[theme=starlight] .messages .message .title .channel:before {
    background-image: url(res/t_left.png);
    left: 40px;
}

[theme=starlight] .messages .message .title:after {
    content: '';
    background-image: url(res/avatar.png);
    height: 44px;
    width: 47px;
    position: absolute;
    left: 0px;
    top: 0px;
}

[theme=starlight] .messages .message .title:before {
    content: '';
    border-radius: 8px;
    box-shadow: 0 0 0 1px #2e2c2c, 0 0 0 1px #373535, 0 0 6px 1px #780806, inset 0 0 0 1px rgba(41, 15, 0, 0.53), inset 0 1px 0 0 rgb(41, 15, 0), inset 0 0 17px 0 rgba(0, 0, 0, 0.31);
    border: 1px solid rgba(25, 4, 0, 0.8);
    width: calc(100% - 78px);
    height: 22px;
    position: absolute;
    top: 8px;
    left: 63px;
    z-index: -1;
    background: #1a1816;
}

[theme=starlight] .messages .message .text {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
}

[theme=starlight] .message .text .font {
    color: white;
    font-weight: 400;
    padding: 4px 10px 2px;
    margin-bottom: 6px;
}

[theme=starlight] .statistic .message .channels_status.text {
	display: block;
	padding: 8px 20px 0;
}

[theme=starlight] .statistic .message .channels_status.text .channel {
    color: white;
    font-weight: 400;
}

[theme=starlight] .statistic .message .title {
    position: absolute;
    height: 13px;
    width: 13px;
    top: -1px;
    left: -1px;
    border-radius: 10px 0 0 0;
    box-shadow: -1px -1px 0px 0px #ec431a, -2px -2px 2px 0px rgba(240, 92, 35, 0.25), inset 1px 1px 2px 0px rgba(240, 92, 35, 0.25);
    border: 0;
    background: transparent;
    font-size: 0;
}
