html, body {
	background: transparent;
	border: 0;
	padding: 0;
}

body {
	box-shadow: inset 0 5px 4px -3px rgba(0, 0, 0, 0.15);
}

body.browser {
	box-shadow: none;
}

.content {
    background: #2f3241;
    position: fixed;
    width: calc(100% - 16px);
    height: calc(100% - 60px);
    left: 8px;
    top: 8px;
    padding: 8px;
    border-radius: .21428571rem;
    border-bottom: 2px solid #74b1be;
    border-top: 2px solid #74b1be;
	overflow: auto;
}

html, body, .browser .content {

}

.browser .content {
	width: initial;
	height: initial;
	overflow: initial;
	left: 0;
	top: 0;
	position: relative;
}

.bottom {
    padding: 8px 4px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.bottom button.ui.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: -1px;
}

.vote {
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    padding: 0 0 6px;
    margin: 0 0 7px;
}

.vote .ui.progress.inverted {
    margin-bottom: 0;
}

h1,
.vote h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.85);
	margin: 0 0 5px;
}

.vote h3 span {
    margin-right: 5px;
    margin-top: -1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    /*border-radius: 50%;*/
	border-radius: 3px;
    /*text-align: center;*/
    height: 21px;
    /*width: 21px;*/
	padding: 0 6px;
    line-height: 21px;
    color: white;
}

h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 0 4px;
    margin: 0 0 8px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.85), 0 0 3px rgba(0, 0, 0, 0.3);
}

.hidden {
	display: none;
}