[theme=turtum] .statistic .title,
[theme=turtum] .statistic .bottom,
[theme=turtum] .message.info .text:before,
[theme=turtum] .message.info .text:after,
[theme=turtum] .message.info .bottom,
[theme=turtum] .message.info .title {
	display: none;
}

[theme=turtum] .messages .message.info .text {
    background-image: url(res/info.png);
    margin: 0;
    padding: 0;
    width: 289px;
    height: 68px;
    display: table;
}

[theme=turtum] .messages .message.info .text div.font {
    display: table-cell;
    vertical-align: middle;
    height: 68px;
    margin: 0;
    padding: 0px 53px 0px 16px;
    color: #CEC19A;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-shadow: 0px 0px 4px #000000;
}

[theme=turtum] .statistic .message {
	overflow: visible;
}

[theme=turtum] .statistic .message .text {
    margin: 0;
    padding: 7px 0px 0px 7px !important;
    border: 1px solid #141212;
    border-radius: 0;
    box-shadow: inset 0 0 0 1px #9a210d, inset 0 0 0 2px #0f0e0d, inset 0 0 0 3px #1f1b18, inset 0 0 0 4px #12100d, 0 0 3px 0px rgba(0, 0, 0, 0.65);
    background-color: rgba(17, 15, 12, 0.9);
    min-height: 0;
}