@font-face {
	font-family: 'TT Supermolot';
	font-style: normal;
	font-weight: 600;
	src: url('/content/fonts/supermolot/TTF/TT Supermolot Black.ttf') format('truetype');
}

@font-face {
	font-family: 'TT Supermolot';
	font-style: normal;
	font-weight: 500;
	src: url('/content/fonts/supermolot/TTF/TT Supermolot Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'TT Supermolot';
	font-style: normal;
	font-weight: 400;
	src: url('/content/fonts/supermolot/TTF/TT Supermolot Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'TT Supermolot';
	font-style: normal;
	font-weight: 300;
	src: url('/content/fonts/supermolot/TTF/TT Supermolot Light.ttf') format('truetype');
}

@font-face {
	font-family: 'TT Supermolot';
	font-style: normal;
	font-weight: 200;
	src: url('/content/fonts/supermolot/TTF/TT Supermolot Thin.ttf') format('truetype');
}

[theme=thedivisionevz] .statistic,
[theme=thedivisionevz] .messages {
    padding: 0 10px;
}

[theme=thedivisionevz] .header:before {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 0;
    width: 100%;
    height: 6px;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 2px 2px 0px 0px;
    box-shadow: -1px 0 0 rgba(255,255,255,0.04), 1px 0 0 rgba(255,255,255,0.04), 0 -1px 0 rgba(255,255,255,0.04);
}

[theme=thedivisionevz] .message.selected {
    background: linear-gradient(135deg, rgba(146, 83, 18, 0.65) 0%,rgba(102,57,11,0.69) 44%,rgba(144, 85, 18, 0.75) 100%);
}

[theme=thedivisionevz] .message.selected .title {
    box-shadow: inset 31px 1px 0 rgba(0, 0, 0, 0.54), inset 31px 5px 0px 0px rgba(239, 120, 2, 0.92);
}

[theme="thedivisionevz"] .message.selected .title .channel {
    background-color: #ea6969;
}

[theme=thedivisionevz] .message .title .channel {
    display: inline-block;
    background-size: initial;
    -webkit-background-size: initial;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
    position: absolute;
    background-color: #5c7e36;
    opacity: 0.76;
	box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.3);
}

[theme=thedivisionevz] .message.info .title {
    padding: 0 7px 0 7px;
    color: rgba(255, 128, 0, 0.9);
    border-left: 6px solid rgba(239, 120, 2, 0.82);
    box-shadow: inset 3px 0px 0 rgba(0, 0, 0, 0.1);
    font-weight: 500;
}