[theme=pixel_go] .header {
    background-repeat: no-repeat;
    background-position: 45% 0;
    background-image: url(res/head.png);
    width: 100%;
    height: 45px;
    margin: 5px auto 0;
}

[theme=pixel_go] .statistic .message,
[theme=pixel_go] .messages .message {
	overflow: visible;
}

[theme=pixel_go] .statistic .message .text,
[theme=pixel_go] .messages .message .text {
    border: 2px solid black;
    border-radius: 4px 10px 4px 10px;
    background: #f4e8e6;
    box-shadow: inset 0 0 0 4px #ead1c1;
	padding: 6px 12px 9px 14px;
}

[theme=pixel_go] .messages .message .bottom {
    background-repeat: no-repeat;
    background-position: initial;
    background-image: url(res/bottom_right_corner_2.png);
    width: 56px;
    height: 62px;
    position: absolute;
    z-index: 2;
    right: 1px;
    bottom: -32px;
}

[theme=pixel_go] .statistic .message .bottom,
[theme=pixel_go] .messages .message.info .bottom {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(res/bottom_right_corner.png);
    width: 38px;
    height: 31px;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -1px;
}

[theme=pixel_go] .messages .message .title {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: url(res/top_left_corner_2.png);
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    margin: 0 0 -30px;
    z-index: 2;
    line-height: 50px;
    padding: 0 8px 0 38px;
}

[theme=pixel_go] .messages .message .title .channel {
    top: 2px;
    position: relative;
	margin-right: 2px;
}

[theme=pixel_go] .messages .message .title:before {
    content: '';
    background-image: url(res/flower.png);
    width: 29px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 4px;
}

[theme=pixel_go] .messages .message.info .title {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(res/top_left_corner.png);
    width: 100%;
    height: 56px;
    top: 0;
    left: 2px;
    margin: 0 0 -24px;
    z-index: 2;
	font-size: 0;
}

[theme=pixel_go] .messages .message.info .title:before {
    content: '';
    background-image: url(res/cat.png);
    width: 50px;
    height: 30px;
    position: absolute;
    top: 2px;
	bottom: initial;
    left: 38px;
}

[theme=pixel_go] .statistic .message .title {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: url(res/top_left_corner.png);
    width: 100%;
    height: 73px;
    top: 0;
    left: 2px;
    margin: 0 0 -30px;
    z-index: 2;
    font-size: 0;
}

[theme=pixel_go] .statistic .message .title:before {
    content: '';
    background-image: url(res/sun.png);
    width: 38px;
    height: 40px;
    position: absolute;
    bottom: 33px;
    right: 41px;
}

[theme=pixel_go] .statistic .message .channel {
    display: inline-block;
    float: left;
}

[theme=pixel_go] .statistic .message .text.channels_status {
    display: block;
    padding: 9px 15px 2px 17px;
}