body.noanimate,
body.noanimate * {
	transition: none !important;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #9f9f9f;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #838383;
}
::-webkit-scrollbar-thumb:active {
	background: #7d7d7d;
}
::-webkit-scrollbar-track {
	background: #e9e9e9;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
	background: #dbdbdb;
}
::-webkit-scrollbar-track:active {
	background: #d2d2d2;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

* {
	user-select: none;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html.transparent,
html.transparent body {
	background: transparent;
}

body {
	border: 0 !important;
	width: 100%;
	overflow: hidden;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
}

#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

body[background_contain] #wrapper {
	background-size: contain;
}

table {
	border-spacing: 0;
	border-collapse: separate;
}

td {
	padding: 0;
}

span {
	display: inline-block;
}

#footer {
	background: rgba(245, 245, 245, 0.8);
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 1px 0 0;
	min-height: 26px;
}

#footer td {
	font-size: 11px;
}

#messages {
	padding: 6px 6px 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#messages > .message-wrapper > .message {
	background: #f9f9f9;
	padding: 4px;
	padding-right: 6px;
	margin: 0 0 6px;
	border-radius: 2px;
	display: inline-block;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
	width: auto;
	max-width: 100%;
	position: relative;
}

#messages > .message-wrapper > .message td {
	font-family: Tahoma, 'Open Sans';
	font-size: 12px;
	line-height: normal;
}

#messages > .message-wrapper > .message .channel {
	background-position: center;
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
	background-size: cover;
}

#messages > .message-wrapper > .message .nick {
	padding-right: 3px;
	color: #576e8a;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	white-space: nowrap;
	max-width: 185px;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
}

body.disable_colored_names #messages > .message-wrapper > .message .nick {
	color: #576e8a !important;
}

#messages > .message-wrapper > .message .nick .badges {
	vertical-align: middle;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	margin-right: 4px;
	margin-top: 3px;
	top: -3px;
	position: relative;
}

#messages > .message-wrapper > .message .nick .badges img {
	height: 18px;
	width: auto;
	margin: 0;
}

#messages > .message-wrapper > .message td.colmessage {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	color: #353535;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-word;
}

#messages > .message-wrapper > .message * {
	user-select: initial;
}

#messages > .message-wrapper > .message.info {
	width: 100%;
	box-shadow: none;
	background: transparent;
	text-align: center;
}

#messages > .message-wrapper > .message.info > .text {
	width: auto;
	padding: 4px;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.1);
	background: #d8eff7;
	display: inline-block;
	font-weight: bolder;
	word-break: break-all;
}

#contents {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.clear {
	clear: both;
}

capitalize {
	text-transform: capitalize;
	display: inline;
}

#channels_status .channel {
	float: left;
	margin: 3px 5px;
	white-space: nowrap;
	line-height: 11px;
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, Tahoma;
	cursor: default;
	user-select: none;
	position: relative;
	padding: 3px 5px 5px 26px;
	height: auto;
	margin: -1px 0;
}

/*
#channels_status .channel .connection_status {}
*/

#channels_status .channel .icon {
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: 4px center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.4;
}

#channels_status .channel .vievers_count,
#channels_status .channel .chat_users_count {
	font-size: 11px;
	font-weight: lighter;
	font-family: sans-serif;
	line-height: 11px;
	color: #c5c5c5;
}

#channels_status .channel .vievers_count:before,
#channels_status .channel .chat_users_count:before {
	content: '\f06e';
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 10px;
	padding-right: 2px;
	opacity: 0.55;
}

#channels_status .channel .chat_users_count:before {
	content: '\f0e5';
}

[theme='light'] #channels_status .channel .vievers_count:before,
[theme='light'] #channels_status .channel .chat_users_count:before {
	color: #5d5d5d;
	opacity: 1;
}

[theme='light'] #channels_status .channel .vievers_count,
[theme='light'] #channels_status .channel .chat_users_count {
	color: #353535;
	opacity: 1;
}

[theme='light'] #channels_status .channel .icon {
	opacity: 1;
}

.message-image {
	display: block;
	text-align: center;
	padding: 2px;
	overflow: hidden;
}

.message-image img {
	max-height: 175px;
	max-width: 100%;
	width: auto;
	height: auto;
	border: 1px solid transparent;
	box-shadow: 0 0 0 1px #313131;
}

el {
	display: inline-block;
}

#messages > .message-wrapper > .message.info > .text td.welcome_message {
	font-family: Calibri, 'Open Sans';
	font-size: 12px;
	font-weight: bolder;
	vertical-align: middle;
	padding: 2px 2px 0 5px;
	color: #353535;
}

#messages > .message-wrapper > .message.info > .text td.welcome_message el {
	font-size: 14px;
}

body[theme='dark'] {
	background-color: #313131;
	border: 1px solid #1b1b1b;
}

body[theme='dark'] #footer {
	background: rgba(70, 70, 70, 0.8);
	border: 0;
	box-shadow: 0 -3px 3px -1px rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.1);
}

body[theme='light'] #footer {
	border: 0;
	box-shadow: 0 -3px 3px -1px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
}

body[theme='dark'] #channels_status .channel {
	color: white;
	border-right: 1px solid #616161;
	border-bottom: 1px solid #616161;
}

body[theme='light'] #channels_status .channel {
	color: #353535;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

body[theme='dark'] #messages > .message-wrapper > .message {
	background: #2d2d2d;
}

body[theme='dark'] #messages > .message-wrapper > .message td.colmessage {
	color: white;
}

body[theme='dark'] #messages > .message-wrapper > .message .nick {
	color: #a5ceff;
}

body[theme='dark'].disable_colored_names #messages > .message-wrapper > .message .nick {
	color: #a5ceff !important;
}

body[theme='dark'] #messages > .message-wrapper > .message.info {
	background: transparent;
}

body[theme='dark'] #messages > .message-wrapper > .message.info > .text {
	background: #404040;
	color: white;
}

body[theme='dark'] #messages > .message-wrapper > .message.info > .text td.welcome_message {
	color: white;
}

body[theme='dark'] ::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

body[theme='dark'] ::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

body[theme='dark'] ::-webkit-scrollbar-thumb {
	background: #5f5f5f;
	border: 0px none #ffffff;
	border-radius: 0px;
}

body[theme='dark'] ::-webkit-scrollbar-thumb:hover {
	background: #747474;
}

body[theme='dark'] ::-webkit-scrollbar-thumb:active {
	background: #676767;
}

body[theme='dark'] ::-webkit-scrollbar-track {
	background: #404040;
	border: 0px none #ffffff;
	border-radius: 0px;
}

body[theme='dark'] ::-webkit-scrollbar-track:hover {
	background: #4a4a4a;
}

body[theme='dark'] ::-webkit-scrollbar-track:active {
	background: #333333;
}

body[theme='dark'] ::-webkit-scrollbar-corner {
	background: transparent;
}

body[theme='dark'] a {
	color: #51a3fb;
}

body[compact_mode] #messages > .message-wrapper > .message {
	padding: 2px;
	margin: 0 0 5px;
}

body[compact_mode] #messages > .message-wrapper > .message.info {
	margin: 0 0 3px;
}

body[compact_mode] #messages > .message-wrapper > .message.info > .text {
	padding: 2px;
}

body[compact_mode] #footer {
	min-height: 20px;
	padding: 0;
}

body[compact_mode] #footer > table {
	min-height: 20px !important;
	margin: 0 0 -1px;
}

body[substrate_messages] #messages > .message-wrapper > .message.info > .text,
body[substrate_messages] #messages > .message-wrapper > .message {
	background: transparent;
	box-shadow: none;
	padding: 2px;
}

body[substrate_messages] #messages > .message-wrapper > .message.info > .text {
	padding: 0 0 2px;
}

body[theme='light'] #messages > .message-wrapper > .message.selected {
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(4, 0, 255, 0.9);
	background: white;
}

body[theme='dark'] #messages > .message-wrapper > .message.selected {
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(255, 255, 0, 0.9);
}

/* icons */

#messages > .message-wrapper > .message .nick:before {
	font-family: FontAwesome;
	font-weight: normal;
	padding-right: 4px;
	display: inline-block;
	font-size: 11px;
}

body[theme='dark'] #messages > .message-wrapper > .message .nick.premium {
	color: #aeffa5 !important;
}
body[theme='light'] #messages > .message-wrapper > .message .nick.premium {
	color: #37822e !important;
}
#messages > .message-wrapper > .message .nick.premium:before {
	content: '\f005' !important;
}

#messages > .message-wrapper > .message .nick.crown:before {
	content: '♛';
} /* crown */
#messages > .message-wrapper > .message .nick.dimond:before {
	content: '\f219';
} /* dimond */
#messages > .message-wrapper > .message .nick.android:before {
	content: '\f17b';
} /* android */
#messages > .message-wrapper > .message .nick.eagle:before {
	content: '\f17b';
} /* eagle */
#messages > .message-wrapper > .message .nick.phone:before {
	content: '\f10b';
} /* phone */
#messages > .message-wrapper > .message .nick.ios:before {
	content: '\f179';
} /* ios */
#messages > .message-wrapper > .message .nick.win:before {
	content: '\f17a';
} /* win */
#messages > .message-wrapper > .message .nick.coin:before {
	content: '\f0a3';
} /* coin */
#messages > .message-wrapper > .message .nick.cup:before {
	content: '\f091';
} /* cup */
#messages > .message-wrapper > .message .nick.top1:before {
	content: '\f286';
} /* top1 */
#messages > .message-wrapper > .message .nick.moderator:before {
	content: '\f085';
} /* moderator */

body[theme='dark'] #messages > .message-wrapper > .message .nick.crown,
body[theme='dark'] #messages > .message-wrapper > .message .nick.dimond,
body[theme='dark'] #messages > .message-wrapper > .message .nick.android,
body[theme='dark'] #messages > .message-wrapper > .message .nick.eagle,
body[theme='dark'] #messages > .message-wrapper > .message .nick.phone,
body[theme='dark'] #messages > .message-wrapper > .message .nick.ios,
body[theme='dark'] #messages > .message-wrapper > .message .nick.win,
body[theme='dark'] #messages > .message-wrapper > .message .nick.coin,
body[theme='dark'] #messages > .message-wrapper > .message .nick.cup,
body[theme='dark'] #messages > .message-wrapper > .message .nick.top1,
body[theme='dark'] #messages > .message-wrapper > .message .nick.moderator,
body[theme='dark'] #messages > .message-wrapper > .message .nick.premium {
	color: #c6d2ff;
}

body[theme='light'] #messages > .message-wrapper > .message .nick.crown,
body[theme='light'] #messages > .message-wrapper > .message .nick.dimond,
body[theme='light'] #messages > .message-wrapper > .message .nick.android,
body[theme='light'] #messages > .message-wrapper > .message .nick.eagle,
body[theme='light'] #messages > .message-wrapper > .message .nick.phone,
body[theme='light'] #messages > .message-wrapper > .message .nick.ios,
body[theme='light'] #messages > .message-wrapper > .message .nick.win,
body[theme='light'] #messages > .message-wrapper > .message .nick.coin,
body[theme='light'] #messages > .message-wrapper > .message .nick.cup,
body[theme='light'] #messages > .message-wrapper > .message .nick.top1,
body[theme='light'] #messages > .message-wrapper > .message .nick.moderator,
body[theme='light'] #messages > .message-wrapper > .message .nick.premium {
	color: #4059b9;
}

#counter_pushed_messages {
	position: fixed;
	z-index: 1;
	background: rgba(23, 23, 23, 0.9);
	width: calc(100% - 9px);
	height: 0;
	bottom: 29px;
	box-shadow: none;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 24px;
	padding-left: 4px;
	cursor: pointer;
	transition: all 150ms linear;
	overflow: hidden;
}

body[theme='light'] #counter_pushed_messages {
	background: rgba(241, 241, 241, 0.9);
	color: #525252;
}

/*
#counter_pushed_messages span.t {}
*/

#counter_pushed_messages span.c {
	font-weight: 600;
	font-size: 12px;
}

#counter_pushed_messages span.c:after {
	content: '\f063';
	font: normal normal normal 14px/1 FontAwesome;
	padding-left: 4px;
	font-size: 11px;
}

#counter_pushed_messages.visible {
	height: 25px;
	box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, 0.3), 0 -5px 4px -4px rgba(23, 23, 23, 0.9);
}

body[theme='light'] #counter_pushed_messages.visible {
	box-shadow: inset 0 -3px 4px -2px rgba(0, 0, 0, 0.15), 0 -5px 4px -4px rgba(241, 241, 241, 0.9);
}

#counter_pushed_messages.visible:hover {
	background: rgba(8, 8, 8, 0.9);
	box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, 0.3), 0 -5px 4px -4px rgba(8, 8, 8, 0.9);
}

body[theme='light'] #counter_pushed_messages.visible:hover {
	background: rgba(255, 255, 255, 0.92);
	box-shadow: inset 0 -3px 4px -2px rgba(0, 0, 0, 0.15), 0 -5px 4px -4px rgba(255, 255, 255, 0.9);
}

.message-wrapper.noread td.colmessage:before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: -1px 5px 0 2px;
	vertical-align: middle;
	background: #f5ff5c;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: all 850ms linear;
}

.message-wrapper.noread.noread-hide td.colmessage:before {
	opacity: 0;
}

img.emojione {
	max-height: 28px;
	vertical-align: middle;
	display: inline-block;
	image-rendering: -webkit-optimize-contrast;
}

a.message-image {
	position: relative;
}

a.message-image > span {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(212, 212, 212, 0.6);
	top: 0;
	left: 0;
	z-index: 1;
}

a.message-image > span > svg {
	margin: -23px 0 0;
	position: relative;
	top: 50%;
}

.overlay {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	display: none;
	z-index: 999999;
	user-select: none !important;
	cursor: default;
}

.message.removable {
	cursor: pointer;
}

.message.removable.info .text:before,
.message.removable:before {
	content: '\f00d';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	display: block;
	position: absolute;
	background: rgba(226, 0, 0, 0.75);
	color: rgb(255, 255, 255);
	padding: 0;
	font-size: 13px;
	top: -4px;
	right: -4px;
	height: 17px;
	width: 17px;
	text-align: center;
	z-index: 1;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	line-height: 17px;
	border-radius: 50%;
	/*vertical-align: middle;*/
	margin: 0;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	opacity: 0;
	/*-webkit-transition: opacity 100ms linear;*/
}

.message.removable.info:before {
	display: none;
}

.message.removable.info .text:hover:before,
.message.removable:hover:before {
	opacity: 1;
}

nowrap {
	white-space: nowrap;
	word-wrap: break-word;
	word-break: break-word;
	display: inline-block;
}

span.channel.info-msg {
	vertical-align: middle;
	margin: -3px 0 0;
}

nowrap.comma:after {
	content: ',';
}

font > nowrap.comma:last-child:after {
	display: none;
}

body[compact_mode] #channels_status .channel {
	padding-bottom: 4px;
}

#channels_status .channel {
	box-shadow: inset 0 -2px 0 0 rgb(210, 0, 0) !important;
}

#channels_status .channel[data-status='connection'] {
	box-shadow: inset 0 -2px 0 0 rgb(228, 148, 0) !important;
}

#channels_status .channel[data-status='connected'] {
	box-shadow: inset 0 -2px 0 0 rgb(50, 204, 50) !important;
}

.message-image.vk-photo small {
	position: absolute;
	z-index: 1;
	width: calc(100% - 6px);
	bottom: 3px;
	left: 3px;
	background: rgba(0, 0, 0, 0.9);
	color: white;
	font-size: 10px;
	padding: 2px 4px;
	font-family: sans-serif;
	max-height: 26px;
	overflow: hidden;
}

.message-image.site-preview {
	padding: 0;
	margin: 5px 3px 3px;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75), 0 0 3px 1px rgba(0, 0, 0, 0.3), inset 0 0 5px 0 rgba(0, 0, 0, 0.3);
	background-size: cover;
	background-color: #d6d6d6;
	background-position: center center;
	background-repeat: no-repeat;
	height: 95px;
	text-decoration: none;
	width: 185px;
}

a.message-image.site-preview > span {
	width: 185px;
	height: 95px;
}

.message-image.site-preview small {
	width: 185px;
	height: 95px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.75);
}

.message-image.site-preview small header {
	height: auto;
	font-size: 11px;
	overflow: hidden;
	display: inline-block;
	color: white;
	text-decoration: none;
	border: 0;
	width: 100%;
	padding: 5px;
}

.message-image.site-preview small font.url {
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 3px 0 3px 21px;
	background-position: left center;
	background-repeat: no-repeat;
}

.message-image.site-preview small font.title {
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	margin: 5px 0 0;
}

a.message-image.site-preview > span > svg {
	margin: -40px auto 0;
	top: 50%;
	opacity: 0.5;
	height: 80px;
	width: 80px;
}

img.smile-image.dynsize {
	max-height: 40px;
	width: 40px;
}

img.smile-image.sticker {
	width: auto !important;
	max-height: 100px !important;
	clear: both;
	display: block !important;
	margin: 0 auto !important;
}

/*
#messages > .message-wrapper > .message td.colmessage {}
*/

#messages > .message-wrapper > .message .nick {
	margin: -1px 0 0;
}

[theme='modern'] {
	border: 0 !important;
	background: #293043;
}

[theme='modern'] #wrapper,
[theme='modern'] #contents,
[theme='modern'] #header {
	background: #293043 !important;
}

[theme='modern'] #header td.drag.on[width='24px'] {
	display: none;
}

[theme='modern'] #appexit {
	background-color: transparent;
}

[theme='modern'] #appexit:hover {
	background-color: #e81123;
}

[theme='modern'] #appexit:active {
	background-color: #f13d4a;
}

[theme='modern'] #footer {
	background: #151b26;
}

[theme='modern'] ::-webkit-scrollbar-track:hover,
[theme='modern'] ::-webkit-scrollbar-track {
	background: #293043;
}

[theme='modern'] ::-webkit-scrollbar-thumb:hover,
[theme='modern'] ::-webkit-scrollbar-thumb {
	background: #1d2332;
	border-color: #1d2332;
}

[theme='modern'] #counter_pushed_messages.visible:hover,
[theme='modern'] #counter_pushed_messages.visible {
	background: #293043;
	width: calc(100% - 7px);
	margin-bottom: -1px;
	cursor: pointer;
}

[theme='modern'] #counter_pushed_messages.visible {
	box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, 0.3), 0 -5px 4px -4px rgba(23, 23, 23, 0.9) !important;
}

[theme='modern'] #messages > .message-wrapper > .message {
	width: 100%;
	border-radius: 0;
	box-shadow: none;
	background: rgba(25, 31, 44, 0.8);
	color: white;
	display: block;
}

[theme='modern'] #messages {
	padding-top: 0;
}

[theme='modern'] #messages > .message-wrapper > .message td.colmessage {
	color: white;
	padding-top: 5px;
}

[theme='modern'] #messages > .message-wrapper > .message msg {
	display: block;
	padding: 4px 5px 2px;
}

[theme='modern'] #messages > .message-wrapper > .message .channel {
	margin-left: 5px;
}

[theme='modern'] #messages > .message-wrapper > .message .nick {
	color: rgba(255, 255, 255, 0.85);
}

[theme='modern'] .message.removable.info .text:before,
[theme='modern'] .message.removable:before {
	border-radius: 0;
	top: 1px;
	right: 1px;
	background: rgb(144, 0, 0);
	text-shadow: none;
}

[theme='modern'] #messages > .message-wrapper > .message.info > .text {
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 0 0 2px;
	border-radius: 0;
}

[theme='modern'] #messages > .message-wrapper > .message.info {
	background: rgb(21, 27, 38);
}
