@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic,cyrillic-ext,latin-ext');

body[theme="responsive_material"] {
    width: 100% !important;
    padding: 10px !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
}

body[theme="responsive_material"] #contents {
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    top: 10px;
    left: 10px;
    background: #212121;
    border-radius: 4px;
    overflow: hidden;
}

body[theme="responsive_material"] .statistic {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    background: #131313;
    box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgb(14, 14, 14);
}

body[theme="responsive_material"] .statistic .title {
	display: none;
}

body[theme="responsive_material"] .statistic .text {
    padding: 1px 5px 0;
    margin: 0;
    background: transparent;
    display: block !important;
    overflow: hidden;
    text-shadow: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
}

body[theme="responsive_material"] .warn {
    top: 5px;
    left: 5px;
}

body[theme="responsive_material"] .messages {
    height: calc(100% - 64px);
    width: 100%;
    position: absolute;
    top: 40px;
    overflow: hidden;
    padding: 0 14px 0 6px;
}

body[theme="responsive_material"] #contents:before {
    background: rgba(255, 255, 255, 0.11);
    content: '';
    position: absolute;
    height: calc(100% - 72px);
    width: 5px;
    right: 4px;
    top: 43px;
}

body[theme="responsive_material"].disable_header #contents:before {
	height: calc(100% - 32px);
	top: 3px;
}

body[theme="responsive_material"].disable_header .messages {
	height: calc(100% - 24px);
	top: 0;
}

body[theme="responsive_material"].disable_statistics #contents:before {
	height: calc(100% - 48px);
}

body[theme="responsive_material"].disable_statistics .messages {
	height: calc(100% - 40px);
}

body[theme="responsive_material"].disable_header.disable_statistics #contents:before {
	height: calc(100% - 8px);
	top: 3px;
}

body[theme="responsive_material"].disable_header.disable_statistics .messages {
	height: 100%;
	top: 0;
}

body[theme="responsive_material"] .messages > .message.removable:before {
	top: 0;
}

/*
body[theme=responsive_material] .messages .message .channel {
    background-color: transparent;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    top: 3px;
    border-radius: 50%;
}
*/





