[theme=simple] #contents .header .apptitle {
    color: white;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 8px 1px 0;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.85), 2px 2px 0px rgba(0, 0, 0, 0.45);
	display: block;
}

[theme=simple] .message {
	background: rgba(42, 49, 68, 0.5);
	border-radius: 2px;
}

[theme=simple] .message .title,
[theme=simple] .message .text {
	background: rgba(20, 26, 37, 0.4);
}

[theme=simple] .message .title {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.49);
	padding: 4px 10px 0;
}

[theme=simple] .message .title .channel {
    position: relative;
    top: 3px;
    margin-right: 6px;
}

[theme=simple] .message .text .font {
    color: white;
    font-weight: 400;
    padding: 4px 10px 2px;
    margin-bottom: 6px;
}

[theme=simple] .statistic .message .channels_status.text {
	display: block;
	padding: 3px 9px 2px;
}

[theme=simple] .statistic .message .channels_status.text .channel {
    color: white;
    font-weight: 400;
}